@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Navbar */
.nav-item a {
    transition: transform 0.3s;
}

.nav-item a:hover {
    transform: scale(1.05);
}

#navbar {
    transition: top 0.3s ease-out, background-color 0.3s ease-out;
}

.navbar-nav .nav-link {
    font-size: 17px;
}


