@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


/* Navbar */
.nav-item a {
    transition: transform 0.3s;
}

.nav-item a:hover {
    transform: scale(1.05);
}

#navbar {
    transition: top 0.3s ease-out, background-color 0.3s ease-out;
}

.navbar-nav .nav-link {
    font-size: 17px;
}



.btn {
    background: #fffcd5;
    box-shadow: 4px 4px #ffe00b, 9px 9px #151515;
    color: #151515;
    text-transform: lowercase;
    border: solid 2px #151515;
  
    text-decoration: none;
  
    padding: 18px 32px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
    overflow: hidden;
    transition-delay: 0s !important;
    text-transform: uppercase !important;
    letter-spacing: 1.5px;
    font-family: sans-serif;
  }
  .btn::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #151515;
    z-index: -1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .btn:hover::before {
    width: 100%;
    left: 0;
    right: unset;
  }
  .btn:hover {
    box-shadow: 0 0 #ffe00b, 0 0 #151515;
    color: white;
  }


  .wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }




